In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('test.csv')

In [10]:
df

          UD6
0   18.500000
1   11.555556
2   17.888889
3   15.944444
4   24.000000
5    7.611111
6   15.111111
7    8.666667
8   17.555556
9    9.611111
10  17.888889
11  10.888889
12  20.800000
13   2.300000
14  12.700000
15   4.400000
16  13.400000

In [20]:
_sum = df.pipe(lambda x: np.abs(10*np.log(x*18/120))**3).pipe(pd.DataFrame.agg, sum)
_result = _sum/len(df)

In [21]:
_result

UD6    642.294694
dtype: float64

In [15]:
df.applymap(lambda x: np.abs(10*np.log(x*18/120))**3)

            UD6
0   1063.240408
1    166.417055
2    961.679588
3    663.033115
4   2101.745387
5      2.325633
6    547.966603
7     18.059846
8    907.743506
9     48.947507
10   961.679588
11   118.098257
12  1473.111357
13  1205.266434
14   267.690152
15    71.740023
16   340.265341